<% if current_user %>
  <form action="/peep" method="post">
    <label>Post a peep: <input type="text" name="peep">
    </label>
    <input type="submit" value="Post">
  </form>
<% else %>
  <h3>Log in to post peeps!</h3>
<% end %>

<% if has_peeps? %>
  <ul>
    <% @peeps.each do |peep| %>
      <li><%= peep.content %></li>
    <% end %>
  </ul>
<% end %>

